<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kula Mart</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.min.css">
    <link rel="stylesheet" href="bower_components/angular-dialog-service/dialogs.css">
    <link rel="stylesheet" href="bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css">
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/custom.css">
    <link rel="stylesheet" href="styles/fonts.css">
    <link rel="stylesheet" href="styles/magnific-popup.css">
    <link rel="stylesheet" href="styles/animations.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/jquery.countdown.css">

    <!-- endbuild -->
</head>
<body ng-app="kulaWebApp" class="inner">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<div id="wrapper">

    <header>
        <div class="side-nav">
            <ul id="gn-menu" class="gn-menu-main">
                <li class="gn-trigger">
                    <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
                    <nav class="gn-menu-wrapper">
                        <div class="gn-scroller">
                            <ul class="gn-menu">
                                <li class="current"><a ng-click="NavigateTo('/')"><i class="gn-icon icon-home"></i>Home</a></li>
                                <li><a ng-click="NavigateTo('/market')"><i class="gn-icon linecon-bulb"></i>Market</a></li>
                                <!--<li><a ng-click="NavigateTo('/')"><i class="gn-icon linecon-user"></i>Business</a></li>-->
                                <li><a ng-click="NavigateTo('/info')"><i class="gn-icon linecon-like"></i>Info</a></li>
                                <li><a ng-click="NavigateTo('/my')"><i class="gn-icon linecon-settings"></i>My Account</a></li>
                                <li><a ng-click="NavigateTo('/schools')"><i class="gn-icon linecon-settings"></i>Select School</a></li>
                            </ul>
                        </div>
                        <!-- /gn-scroller -->
                    </nav>
                </li>

                <!-- logo -->
                <li class="logo-wrapper"><a class="logo home" ng-click="NavigateTo('/')">KulaMart</a></li>
                <li class="hide-in-mobile school-selector" fire-dropdown-animation ng-show="ifShowAreaDropdown">
                    <a class="dropdown-toggle">for <strong ng-bind="currentArea.title"></strong></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="area in areas" ng-click="SetCurrentArea(area)">
                            <a ng-bind="area.title"></a>
                        </li>
                    </ul>
                </li>

                <!-- top right: call to action -->
                <li class="cta">
                    <a class="user-showcase" ng-click="NavigateTo('/my')" ng-show="isLoggedIn()">
                        <span ng-bind="GetUser('email')"></span><br>
                        <span>My Account</span>
                    </a>
                    <a ng-click="NavigateTo('/login')" ng-hide="isLoggedIn()">Login</a>
                </li>
            </ul>
        </div>
    </header>


    <!-- Add your site or application content here -->
    <div ng-view=""></div>

    <!-- Footer -->

    <!-- Footer -->
    <footer class="container">
        <div class="row">
            <div class="col-lg-4 copyright">
                <p>&copy; All Rights Reserved. 2013 - 2014 <a ng-click="NavigateTo('/')">Kula Mart</a></p>
            </div>
            <div class="col-lg-8 copyright pull-right text-right">
                <a ng-click="NavigateTo('/privacy')">Privacy</a> &middot;
                <a ng-click="NavigateTo('/terms')">Terms</a> &middot;
                <a ng-click="NavigateTo('/about')">About</a> &middot;
                <a ng-click="NavigateTo('/contact')">Contact</a>
            </div>
        </div>
    </footer>
</div>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="//sdk.amazonaws.com/js/aws-sdk-2.0.0-rc9.min.js"></script>

<!-- build:js scripts/vendor.js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-dialog-service/dialogs.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>
<script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
<script src="bower_components/angular-easyfb/angular-easyfb.js"></script>
<script src="bower_components/checklist-model/checklist-model.js"></script>
<script src="bower_components/angular-cookie/angular-cookie.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
<!-- endbuild -->

<!-- build:js scripts/template.js -->
<script src="scripts/lib/modernizr.custom.js"></script>
<script src="scripts/lib/jquery.easing.1.3.js"></script>
<script src="scripts/lib/jquery.scrollTo-min.js"></script>
<script src="scripts/lib/jquery.nav.js"></script>
<script src="scripts/lib/jquery.collagePlus.min.js"></script>
<script src="scripts/lib/jquery.removeWhitespace.min.js"></script>
<script src="scripts/lib/jquery.magnific-popup.min.js"></script>
<script src="scripts/lib/jquery.waypoints.min.js"></script>
<script src="scripts/lib/jquery.caroufredsel.js"></script>
<script src="scripts/lib/classie.js"></script>
<script src="scripts/lib/jquery.gnmenu.js"></script>
<script src="scripts/lib/jquery.plugin.js"></script>
<script src="scripts/lib/jquery.countdown.js"></script>

<script src="scripts/lib/custom.js"></script>
<!-- endbuild -->


<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/resources/constants.js"></script>
<script src="scripts/resources/post.js"></script>
<script src="scripts/resources/category.js"></script>
<script src="scripts/resources/area.js"></script>
<script src="scripts/resources/predefined.js"></script>
<script src="scripts/resources/account.js"></script>
<script src="scripts/resources/event.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/market.js"></script>
<script src="scripts/controllers/area.js"></script>
<script src="scripts/controllers/adminPostNewEdit.js"></script>
<script src="scripts/controllers/adminPostList.js"></script>
<script src="scripts/controllers/adminCategoryList.js"></script>
<script src="scripts/controllers/adminCategoryNewEdit.js"></script>
<script src="scripts/controllers/adminAreaList.js"></script>
<script src="scripts/controllers/adminAreaNewEdit.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/postDetail.js"></script>
<script src="scripts/controllers/adminPredefined.js"></script>
<script src="scripts/controllers/adminAccount.js"></script>
<script src="scripts/controllers/adminEventNewEdit.js"></script>
<script src="scripts/controllers/adminEventList.js"></script>
<script src="scripts/controllers/my.js"></script>
<script src="scripts/controllers/reply.js"></script>
<script src="scripts/controllers/chooseSchool.js"></script>
<script src="scripts/controllers/info.js"></script>
<script src="scripts/controllers/event.js"></script>
<script src="scripts/services/login.js"></script>
<script src="scripts/services/upload.js"></script>
<script src="scripts/services/area.js"></script>
<script src="scripts/services/category.js"></script>
<script src="scripts/services/security.js"></script>
<script src="scripts/directives/fileread.js"></script>
<script src="scripts/directives/fireCollage.js"></script>
<script src="scripts/directives/firePortfolioImages.js"></script>
<script src="scripts/directives/fireCarousel.js"></script>
<script src="scripts/directives/fireAutoCarousel.js"></script>
<script src="scripts/directives/fireDropdownAnimation.js"></script>
<script src="scripts/directives/klPost.js"></script>
<script src="scripts/directives/klTimer.js"></script>
<script src="scripts/filters/area.js"></script>
<script src="scripts/filters/category.js"></script>
<script src="scripts/filters/price.js"></script>
<script src="scripts/filters/type.js"></script>
<!-- endbuild -->
</body>
</html>
