<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>KulaMart</title>
    <meta property="og:title" content="{{ post.title }}"/>
    <meta property="og:site_name" content="KulaMart"/>
    <meta property="og:url" content="http://kulamart.com/post/{{ post._id }}"/>
    <meta property="og:description" content="{{ post.content }}"/>
    <meta property="fb:app_id" content="218438405026655"/>
    <meta property="og:type" content="article"/>
    <!--<meta property="article:published_time" content="{{ post.create }}" />-->
    <!--<meta property="article:expiration_time" content="{{ post.expire }}" />-->
    <!--<meta property="article:section" content="{{ post.category }}" />-->
    <!--<meta property="article:tag" content="{{ post.tags }}" />-->
</head>
<body>
<div style="font-size: 8.5pt;">
    This url is for the Facebook Bot only. If you happen to get here, please go to <a
        href="http://kulamart.com/post/{{ post._id }}">our website</a>. Thank you! <br><br>
    <b>Yours,</b><br>
    <b>KulaMart.com</b>
</div>
</body>
</html>