<div class="container padding-top-lg static">

    <h2>About</h2>
    <p>Kulamart is a website that offers a platform for college students who want to buy, sell and interact with their schoolmates. Kulamart.com is created for college students, by college students. We are committed to make the website simple, efficient and safe for users.</p>
    <p>However, we should not be defined only as an online second-hand market. With our &quot;information&quot; and &quot;student business&quot; section, we aim to build a better student community by create a place where they can not only share their items, but their thoughts and ideas as well.</p>

</div>