<section id="adminAccount" class="section">
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Action
                    </th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="account in accounts">
                    <td ng-bind="account.name"></td>
                    <td ng-bind="account.email"></td>
                    <td ng-bind="account.type | typeTitle"></td>
                    <td>
                        <select ng-model="account.newType">
                            <option selected="selected" value="">-- New Type --</option>
                            <option value="0">Admin</option>
                            <option value="30">Customer</option>
                        </select>
                        <a ng-click="SetAccountType(account, $index)">Set</a>
                        | <a ng-click="RemoveAccount(account, $index)">Remove</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--<div class="row">-->
        <!--<div class="col-xs-12">-->
        <!--<form role="form">-->
        <!--<div class="form-group">-->
        <!--<label for="predefinedType">Type</label>-->
        <!--<select class="form-control" id="predefinedType" ng-model="new.type">-->
        <!--<option value="delivery">Delivery</option>-->
        <!--<option value="tag">Tag</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<label for="predefinedTitle">Title</label>-->
        <!--<input type="text" class="form-control" id="predefinedTitle" placeholder="Title"-->
        <!--ng-model="new.title">-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-default cta" ng-click="AddPredefined(new)">Add</button>-->
        <!--</form>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</section>