<section id="adminAccount" class="section">
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Action
                    </th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="account in accounts">
                    <td ng-bind="account.name"></td>
                    <td ng-bind="account.email"></td>
                    <td ng-bind="account.type | typeTitle"></td>
                    <td>
                        <select ng-model="account.newType" class="form-control input-sm short">
                            <option selected="selected" value="">-- New Type --</option>
                            <option value="0">Admin</option>
                            <option value="30">Customer</option>
                        </select>
                        <a ng-click="SetAccountType(account, $index)">Set</a>
                        | <a ng-click="RemoveAccount(account, $index)">Remove</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>