<section id="adminPostNewEdit" class="section">
    <div class="container">
        <div class="row">
            <form role="form">
                <input type="hidden" ng-model="post._id">

                <div class="form-group">
                    <label for="postTitle">Title</label>
                    <input type="text" class="form-control" id="postTitle" placeholder="Post Title"
                           ng-model="post.title">
                </div>
                <div class="form-group">
                    <label for="postAuthor">Author</label>
                    <input type="text" class="form-control" id="postAuthor" placeholder="Post Author"
                           ng-model="post.author">
                </div>
                <div class="form-group">
                    <label for="postArea">Area</label>
                    <select multiple class="form-control" id="postArea" ng-model="post.area"
                            ng-options="a._id as a.title for a in areas">
                        <option value="">-- Select One --</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="postCategory">Primary Tag</label>
                    <select class="form-control" id="postCategory" ng-model="post.category"
                            ng-options="c._id as c.title for c in categories">
                        <option value="">-- Select One --</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="postContent">Content</label>
                    <textarea class="form-control" id="postContent" placeholder="Post Content" rows="10"
                              ng-model="post.content"></textarea>
                </div>
                <button type="submit" class="btn btn-default" ng-click="Submit(post)">Submit</button>
            </form>
        </div>
    </div>
</section>