<section class="section">
    <div class="container">
        <div class="row">
            <a href="#/admin/post/new" class="btn cta">New Post</a>
            <br>
            &nbsp;
        </div>
        <div class="row">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                        Area
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="post in posts">
                    <td>
                        <span ng-bind="post.title"></span>
                    </td>
                    <td>
                        <span ng-bind="post.author"></span>
                    </td>
                    <td>
                        <span ng-bind="post.area | areaTitle"></span>
                    </td>
                    <td>
                        <span ng-bind="post.createDate | date:'yyyy-MM-dd' "></span>
                    </td>
                    <td>
                        <span ng-bind="post.categoryObject.title"></span>
                    </td>
                    <td><a ng-click="EditPost(post, $index)">Edit</a> <a
                            ng-click="RemovePost(post, $index)">Remove</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
