<section id="contact" class="section">
    <div class="container">
        <div class="row">

            <div id="chat" class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 col-lg-8 col-lg-offset-2">
                <div class="lead-form bounce">
                    <div>
                        <h1 class="text-center">SELECT SCHOOL</h1>
                        
                        <div class="row">
                            <div class="col-sm-12 text-center" ng-repeat="area in areas">
                                <a ng-bind="area.title" ng-click="SetCurrentAreaAndGoToHome(area)" class="btn banner"></a>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>

        </div>

    </div>
</section>