<!-- Featured items -->
<section id="featured" class="section intro carousel slide">

    <ol class="carousel-indicators">
        <li data-target="#featured" data-slide-to="0" class="active"></li>
        <li data-target="#featured" data-slide-to="1"></li>
        <li data-target="#featured" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active" style="background-image: url('images/bg-home8.jpg');">

            <!-- Featured Copy -->
            <div class="carousel-caption">
                <h1>Market</h1>

                <p>Click here to enter market, or search</p>

                <p>
                <form class="form-inline">
                <div class="form-group">
                    <a class="btn btn-primary">Post</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div class="form-group">
                    <input class="form-control no-margin" type="text">
                </div>
                <div class="form-group">
                    <a class="btn btn-primary">Search</a>
                </div>
                </form>
                </p>
                <br>
                <br>
                <br>
            </div>

        </div>

        <div class="item" style="background-image: url('images/bg-home23.jpg');">

            <!-- Featured Copy -->
            <div class="carousel-caption">
                <h1>Information</h1>

                <p>Click here to enter information, or search</p>

                <p>
                <form class="form-inline">
                    <div class="form-group">
                        <a class="btn btn-primary">Post</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="form-group">
                        <input class="form-control no-margin" type="text">
                    </div>
                    <div class="form-group">
                        <a class="btn btn-primary">Search</a>
                    </div>
                </form>
                </p>
                <br>
                <br>
                <br>
            </div>

        </div>

        <div class="item" style="background-image: url('images/bg-home25.jpg');">

            <!-- Featured Copy -->
            <div class="carousel-caption">
                <h1>Student Business</h1>

                <p>Coming soon!</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>

        </div>
    </div>

</section> <!-- end Featured items -->



<!-- Team Section -->
<section id="team" class="team section container">

    <div class="container animation-fade">
        <div class="row">

            <div class="carousel-small clearfix" fire-carousel>

                <article class="content" style="background-image: url(images/team1.jpg); opacity: 1;">
                    <div class="details">
                        <h3>Anthony Raymond</h3>
                        <p><span class="role-title">CEO</span></p>
                        <p>
                            <a href="#" class="icon-twitter twitter"></a>
                            <a href="#" class="icon-facebook facebook"></a>
                            <a href="#" class="icon-linkedin linkedin"></a>
                        </p>
                    </div>
                </article>

                <article class="content" style="background-image: url(images/team2.jpg); opacity: 1;">
                    <div class="details">
                        <h3>Peter Smith</h3>
                        <p><span class="role-title">Managing Director</span></p>
                        <p>
                            <a href="#" class="icon-dribbble dribbble"></a>
                            <a href="#" class="icon-foursquare foursquare"></a>
                            <a href="#" class="icon-google-plus google"></a>
                        </p>
                    </div>
                </article>

                <article class="content" style="background-image: url(images/team3.jpg); opacity: 1;">
                    <div class="details">
                        <h3>Adam Relli</h3>
                        <p><span class="role-title">Creative Director</span></p>
                        <p>
                            <a href="#" class="icon-instagram instagram"></a>
                            <a href="#" class="icon-pinterest pinterest"></a>
                            <a href="#" class="icon-skype skype"></a>
                        </p>
                    </div>
                </article>

                <article class="content" style="background-image: url(images/team4.jpg); opacity: 1;">
                    <div class="details">
                        <h3>Sarah Sez</h3>
                        <p><span class="role-title">Marketing Manager</span></p>
                        <p>
                            <a href="#" class="icon-tumblr tumblr"></a>
                            <a href="#" class="icon-facebook facebook"></a>
                            <a href="#" class="icon-youtube youtube"></a>
                        </p>
                    </div>
                </article>

                <article class="content" style="background-image: url(images/team5.jpg); opacity: 1;">
                    <div class="details">
                        <h3>Dave Hilton</h3>
                        <p><span class="role-title">Production Manager</span></p>
                        <p>
                            <a href="#" class="icon-twitter twitter"></a>
                            <a href="#" class="icon-facebook facebook"></a>
                            <a href="#" class="icon-linkedin linkedin"></a>
                        </p>
                    </div>
                </article>

                <article class="content" style="background-image: url(images/team6.jpg); opacity: 1;">
                    <div class="details">
                        <h3>Nathan Skipper</h3>
                        <p><span class="role-title">Developer</span></p>
                        <p>
                            <a href="#" class="icon-twitter twitter"></a>
                            <a href="#" class="icon-facebook facebook"></a>
                            <a href="#" class="icon-linkedin linkedin"></a>
                        </p>
                    </div>
                </article>

                <article class="content" style="background-image: url(images/team7.jpg); opacity: 1;">
                    <div class="details">
                        <h3>Neill Cole</h3>
                        <p><span class="role-title">Designer</span></p>
                        <p>
                            <a href="#" class="icon-twitter twitter"></a>
                            <a href="#" class="icon-facebook facebook"></a>
                            <a href="#" class="icon-linkedin linkedin"></a>
                        </p>
                    </div>
                </article>

                <article class="content" style="background-image: url(images/team8.jpg); opacity: 1;">
                    <div class="details">
                        <h3>Monica Ember</h3>
                        <p><span class="role-title">Production Assistant</span></p>
                        <p>
                            <a href="#" class="icon-twitter twitter"></a>
                            <a href="#" class="icon-facebook facebook"></a>
                            <a href="#" class="icon-linkedin linkedin"></a>
                        </p>
                    </div>
                </article>

            </div>

            <div class="carousel-controls">
                <a class="prev" id="carousel-prev" href="#"><span aria-hidden="true" class="icon-angle-left"></span></a>
                <a class="next" id="carousel-next" href="#"><span aria-hidden="true" class="icon-angle-right"></span></a>
            </div>
        </div>
    </div>

</section> <!-- end Team Section -->


<!-- Contact -->
<section id="contact" class="section container post-list">
    <div class="row">
        <kl-post kl-post-id="post._id" ng-repeat="post in posts"></kl-post>
    </div>
</section> <!-- end Contact Section -->

