<!-- Intro Section -->
<section id="intro" class="section current">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 fadeIn">
                <h1>Welcome to Kula Mart!</h1>
                <p>Carajillo brewed mazagran crema as so, affogato irish cortado frappuccino blue mountain. Siphon as, qui java cinnamon, coffee, café au lait, black trifecta mazagran est siphon.</p>
            </div>

        </div>
    </div>
</section> <!-- end Intro Section -->


<!-- Contact -->
<section id="main" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="images/placeholder.png" alt="...">

                    <div class="caption">
                        <h3>Market</h3>

                        <p>...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="images/placeholder.png" alt="...">

                    <div class="caption">
                        <h3>Business</h3>

                        <p>...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="images/placeholder.png" alt="...">

                    <div class="caption">
                        <h3>Info</h3>

                        <p>...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
