<div class="container padding-top-lg">
    <div class="user-actions">
        <a class="btn btn-primary btn-sm">Log Out</a>
        <span ng-show="me.type==0" class="pull-right">
            <label>Manage</label>
            <a class="btn btn-primary btn-sm" ng-click="NavigateTo('/admin/account')">Accounts</a>
            <a class="btn btn-primary btn-sm" ng-click="NavigateTo('/admin/area')">Schools</a>
            <a class="btn btn-primary btn-sm" ng-click="NavigateTo('/admin/category')">Primary Tags</a>
            <a class="btn btn-primary btn-sm" ng-click="NavigateTo('/admin/predefined')">Tags & Deliveries</a>
            <a class="btn btn-primary btn-sm" ng-click="NavigateTo('/admin/post')">Posts</a>
        </span>
    </div>
    <tabset>
        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-bell"></i> My Posts
            </tab-heading>
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12 padding-bottom">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-collapse collapse in">
                                <div class="panel-body text-center">
                                    <div class="btn-group centered">
                                        <a class="btn"
                                           ng-class="{'btn-danger':filter.type=='offer', 'btn-primary':filter.type!='offer'}"
                                           ng-click="filter.type='offer'">Offering</a>
                                        <a class="btn"
                                           ng-class="{'btn-danger':filter.type=='request', 'btn-primary':filter.type!='request'}"
                                           ng-click="filter.type='request'">Requesting</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <kl-post kl-post-id="post._id" ng-repeat="post in posts | filter:FilterPosts" class="repeat-item"
                             kl-current-user="me.id" kl-post-list="posts" kl-post-index="$index"></kl-post>
                </div>
            </div>
        </tab>
        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-bell"></i> Awesome!
            </tab-heading>
            <div class="row">
                <div class="col-xs-12">
                    <kl-post kl-post-id="post" ng-repeat="post in favorites" class="repeat-item" kl-current-user="me.id"
                             kl-post-list="posts" kl-post-index="$index" kl-post-saved="true"></kl-post>
                </div>
            </div>
        </tab>
    </tabset>
</div>

