<!-- Intro Section -->
<section id="intro" class="intro-heading section current">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 ng-bind="post.category | categoryTitle"></h1>

                <p ng-bind="post.title"></p>
            </div>
        </div>
    </div>
</section> <!-- end Intro Section -->


<section id="main-wrapper" class="portfolio-item">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="row">
                    <div class="col-lg-12 block-item section">
                        <a class="kula-image with-margin" ng-click="ImageModal()"
                           style="background-image: url(http://img.kulamart.com.s3.amazonaws.com/{{ post.images[0]||'category/'+post.category }});"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wrapper project-description">

                    <!-- about project -->
                    <div class="project-about">
                        <h3>Description</h3>

                        <p ng-bind="post.content"></p>
                    </div>

                    <!-- project details -->
                    <div class="project-details clearfix">
                        <h3>Tags</h3>
                        <ul>
                            <li><i class="icon-li icon-star"></i><span ng-bind="post.category | categoryTitle"></span>
                            </li>
                            <li ng-repeat="tag in post.tags"><i class="icon-li icon-ok"></i><span ng-bind="tag"></span>
                            </li>
                        </ul>
                        <a class="btn btn-primary cta btn-sm fullwidth" ng-click="ShareFacebook()">Share on Facebook</a>

                        <!--<a class="btn btn-primary cta btn-sm" ng-click="ShareFacebook2(post)">Share on Facebook</a>-->
                    </div>

                    <!-- project links -->
                    <div class="row">
                        <div class="col-xs-12">
                            <form name="ReplyForm">
                                <b>Leave your message:</b>
                                <textarea style="height: 120px; resize: vertical;" cols="5" class="form-control"
                                          ng-model="reply.content" ng-minlength="10" required></textarea>
                                <b>Your Email:</b>
                                <input type="email" class="form-control" ng-model="reply.email" required>
                                <b>Your Name:</b>
                                <input type="text" class="form-control" ng-model="reply.displayName">

                                <a class="btn cta" ng-click="Reply(post,reply)"
                                   ng-disabled="ReplyForm.$invalid">Reply</a>
                            </form>
                        </div>
                    </div>
                    <div class="row project-links clearfix">
                        <div class="col-lg-6 view-project">
                            <!--<a class="btn cta" ng-click="Reply(post,reply)">Reply</a>-->
                        </div>
                        <div class="col-lg-6 social-sharing">
                            <a class="btn">Save for Later</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>