<section id="contact" class="section">
    <div class="container">
        <div class="row">

            <div id="chat" class="col-md-6 col-md-offset-3">
                <div class="lead-form bounce">

                    <h2>Sign Up</h2>

                    <p>with Facebook</p>
                    <p><small>We will create a KULA account for you.</small></p>

                    <form class="user-form" id="contact-form" name="SignUpForm">
                        <div class="controls">
                            <input type="text" placeholder="Enter your name" maxlength="320" required
                                   ng-model="user.name">
                            <input type="email" name="email" class="email" placeholder="Enter your email"
                                   maxlength="320"
                                   pattern="^[a-z0-9!#$%\x26'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%\x26'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"
                                   required ng-model="user.email">
                            <input type="password" name="password" class="password" maxlength="50" pattern="^.+$"
                                   required placeholder="Enter your password" ng-model="user.password"
                                   ng-class="{'invalid':user.password!=user.password2}">
                            <input type="password" name="password2" class="password" maxlength="50" pattern="^.+$"
                                   required placeholder="Enter your password again" ng-model="user.password2"
                                   ng-class="{'invalid':user.password!=user.password2}">

                            <p class="invalid-message" ng-show="user.password!=user.password2">Your password doesn't
                                match.</p>
                            <label> &nbsp; <input type="checkbox" ng-model="agreed"> &nbsp;I agree to KulaMart <a
                                    href="/terms">Terms and Conditions</a> and <a href="/privacy">Privacy
                                Policy</a>.</label>
                            <!--<p class="text-center"><a href="#">Forgot your password?</a></p>-->

                            <input type="submit" class="submit btn cta" value="Sign Up" ng-click="SignUpWithFacebook(user)"
                                   ng-disabled="!agreed || SignUpForm.$invalid || user.password!=user.password2">
                        </div>

                    </form>

                </div>
            </div>

        </div>

    </div>
</section>