a {
    cursor: pointer;
    text-decoration: none;
}

.post-image-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.post-image-list .image {
    display: inline-block;
    margin: 5px 5px 5px 0;
}

.post-image-list .image img {
    height: 200px;
    width: auto;
    border-radius: 5px;
}

.school-selector a {
    font-weight: 200;
    font-size: 1em;
}

.school-selector {
    width: 320px;
}

.school-selector .dropdown-menu {
    background-color: #ffffff;
    font-size: 1.3em;
}

input.form-control.no-margin {
    margin: 0;
}

.team article {
    height: 200px;
    width: 160px;
}

.team {
    padding-top: 0 !important;
}

.post-list {
    padding-top: 2em;
    padding-bottom: 2em;
}

.lead-form.post {
    margin-bottom: 2em;
}

.post-image {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.post .post-content {
    position: relative;
}

.post .tags .tag {
    margin-right: 3px;
    margin-top: 5px;
}

.post .title {
    font-size: 1.6em;
}

.post .price {
    font-size: 1.5em;
}

.post .details {
    font-size: 1.2em;
}

.table {
    display: table;
    width: 100%;
}

.table-row {
    display: table-row !important;
    width: 100%;
}

.table-cell {
    display: table-cell !important;
    text-align: center;
}

.table-cell.form-control {
    margin: 0;
}

.table-row.span-all {
    column-span:all;
}

.post-form {
    padding: 20px 40px 10px !important;
}

.form-inline .form-control {
    display: inline-block !important;
}

.full-width {
    width: 100%;
}

.centered {
    display: inline-block;
}

.bold {
    font-weight: 900;
}

.row.action-btns {
    margin-bottom: 10px;
}

a.user-showcase {
    width: 160px;
    font-size: 0.8em !important;
    text-transform: none !important;
    line-height: 20px !important;
    padding: 15px 0 !important;
}

.gn-menu-main > li.cta {
    overflow: hidden;
}

[ng-view] {
    min-height:600px;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave {
    -webkit-transition:0.5s linear all;
    transition:0.5s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
    opacity:0;
}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
    opacity:1;
}

.category-tag {
    margin-right: 3px;
}

.padding-bottom {
    padding-bottom: 20px !important;
}

.padding-top-lg {
    padding-top: 8em;
}