a {
    cursor: pointer;
    text-decoration: none;
}

.post-image-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.post-image-list .image {
    display: inline-block;
    margin: 5px 5px 5px 0;
}

.post-image-list .image img {
    height: 200px;
    width: auto;
    border-radius: 5px;
}

.school-selector a {
    font-weight: 200;
    font-size: 1.3em;
}

input.form-control.no-margin {
    margin: 0;
}

.team article {
    height: 200px;
    width: 160px;
}

.team {
    padding-top: 0 !important;
}

.post-list {
    padding-top: 2em;
    padding-bottom: 2em;
}

.lead-form.post {
    margin-bottom: 2em;
}

.post-image {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.post .post-content {
    position: relative;
}

.post .tags .tag {
    margin-right: 3px;
    margin-top: 5px;
}

.post .title {
    font-size: 1.6em;
}

.post .price {
    font-size: 1.5em;
}

.post .details {
    font-size: 1.2em;
}